.cart {
  @include flex-center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  &__header {
    @include flex-center;
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
    &__wrapper {
      @include flex-center;
      &__img {
        width: 20px;
        height: 20px;
      }
      &__title {
        margin-left: $base;
        font-size: 25px;
        font-weight: bolder;
      }
    }
    &__basket {
      @include flex-center;
      opacity: 0.6;
      transition: 0.3s;
      cursor: pointer;
      background: transparent;
      border: none;
      &:focus {
        outline: none;
      }
      &__img {
        width: 20px;
        height: 20px;
      }
      &__title {
        margin-left: $base;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &__empty {
    width: 80%;
    margin: 20px auto;
    &__text {
      text-align: center;
    }
    &__img {
      margin: 20px auto;
    }
    &__btn {
      margin-top: 10px;
      @include buttonPrimary(rgb(71, 197, 40), #faf8f8, #fff, #111);
      min-width: 250px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      &:hover {
        color: #fff;
        background: rgb(71, 197, 40);
      }
    }
  }
}
